body {
    height: 100vh;
    background-color: hsl(222, 26%, 31%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label, h6 {
    font-size: 13px;
    color: hsl(30, 25%, 89%);
    position: relative;
    left: 70px;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    align-items: center;
}

.header {
    display: flex;
    margin: 50px 0px 10px;
    position: relative;
}


.header > h6 {
    align-self: center;
}

.user-input {
    background-color: hsl(224, 32%, 14%);
    height: 80px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 10px;
    color: white;
    overflow: hidden;
}

.user-input > .previous-operand {
    font-size: 15px;
}

.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    background-color: hsl(222, 38%, 15%);
    padding: 15px 10px;
    border-radius: 10px;
}

.grid-container > button {
    margin: 0 8px;
    padding: 8px 0;
    border-radius: 5px;
    border: none;
    background-color: hsl(30, 25%, 89%);
    color: hsl(221, 14%, 31%); 
    box-shadow: 0 5px hsl(28, 16%, 65%);
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

.column-span {
    grid-column: span 2;
}

button:nth-child(17), button:nth-child(4) {
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 5px hsl(224, 28%, 35%);
    color: hsl(30, 25%, 89%);
    font-size: 18px;
    padding: 17px 0;
}

button:nth-child(18) {
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0 5px hsl(6, 70%, 34%); 
    color: white;
}

.attribution {
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    font-size: 11px;
}
